{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">OpenWings</h3>
               <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
              -->
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">The OpenWings Project</h1>
            <p class="lead">The goal of the OpenWings Project is to understand the evolutionary history of and evolutionary relationships among all species of <a href="https://en.wikipedia.org/wiki/Bird">birds</a>.</p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p class="foot">Supported by the <a href="https://www.nsf.gov/">National Science Foundation</a>. Photo by Eddie Perez.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{% endblock %}
